<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dashboard</title>
		<!-- bower:css -->
		<!-- endbower -->
		<!-- inject:cssVendors -->
		<!-- endinject -->
		<!-- inject:css -->
		<!-- endinject -->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	</head>
	<body ng-app="myApp" ng-controller='mainCtrl'>
		<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Dashboard</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Settings</a></li>
			<li><a href="#">Help</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<h4>Overall</h4>
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Nr. of Employees</a></li>
				<li><a href="#">KPIs</a></li>
			</ul>
			<h4>Issues</h4>
			<ul class="nav nav-sidebar">
				<li><a href="">Reported Issues</a></li>
			</ul> 
			<h4>Data</h4>
			<ul class="nav nav-sidebar">
				<li><a href="">Issues</a></li>
		  	</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Overview</h1>
			<section ng-controller='employeeCtrl' ng-show='false'>
				<h2 class="page-header">Employees by Region</h2>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<p ng-click='employee.chartType = "Table"'>Show Data</p>
							</div>
							<div class="col-md-4">
								<p ng-click='employee.chartType = "GeoMap"'>Show Map</p>
							</div>
							<div class="col-md-4">
								<p ng-click='employee.chartType = "PieChart"'>Show Pie</p>
							</div>
						</div>
						<gchart data='employee.data' chart="{{employee.chartType}}" width="{{employee.width}}" height="{{employee.height}}"></gchart>
					</div>
				</div>
			</section>
			<section ng-controller='issueCtrl'>
				<h2 class="page-header">Open Issues</h2>
				<h3 class="page-header">Detail Data</h3>
				<span class="btn btn-success" ng-click="showFilters = !showFilters;">Toggle Filters</span>
				<div id="filters" class="form-horizontal" ng-show='showFilters'>	
					<br><br>
					<h4 class="page-header">Filters</h4>
					<div ng-repeat='head in issue.header' class="form-group">
						<label class="col-sm-2 control-label" for='{{head}}'>{{head}}</label>
						<div class="col-sm-10">
							<input id='{{head}}' class='form-control' type="text" ng-model='filters[head]' uib-typeahead='value for value in issue.values[head] | filter:$viewValue'>
						</div>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-default pull-right" ng-click='applyFilter()'>Apply</button>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-default pull-left" ng-click='reloadData()'>Reset</button>
					</div>
				</div>
				<br><br><br><br>
				<gchart data='issue.data' chart="{{issue.chartType}}" width="{{issue.width}}" height="{{issue.height}}"></gchart><br><br><br>
				<h3 class="page-header">Chart per Month</h3>
				<gchart data='issueLine.data' chart="{{issueLine.chartType}}" width="{{issueLine.width}}" height="{{issueLine.height}}"></gchart>
			</section>
			<section ng-controller='customerCtrl'>
				<h2 class="page-header">Paying Customer</h2>
				<gchart data='issue.data' chart="{{issue.chartType}}" width="{{issue.width}}" height="{{issue.height}}"></gchart>
			</section>
			
			
			
		<!-- bower:js 
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/angular/angular.js"></script> -->
		<!-- endbower -->
		<!-- inject:jsVendor -->
		<!-- endinject -->
		<!-- inject:js -->
		<script src="/src/app/main.js"></script>
		<!-- endinject -->
	</body>
</html>